---
layout: default
title: Home
---
<header class="site-header">
    <div class="logo-mark">
    <span>Bread</span>
    <span>Machine</span>
  </div>
  <p class="subtitle">A place to keep all of my favourite recipes</p>
</header>

<h2>Recipes</h2>
<ul class="recipe-list">
  {% for recipe in site.recipes %}
    <li>
      <a href="{{ recipe.url | relative_url }}">
        {{ recipe.title }}
      </a>
    </li>
  {% endfor %}
</ul>

<h2 class="section-divider">Untested/Archive</h2>
<ul class="recipe-list untested">
  {% for recipe in site.untested %}
    <li>
      <a href="{{ recipe.url | relative_url }}">
        {{ recipe.title }}
      </a>
    </li>
  {% endfor %}
</ul>
